.appBackground {
    background-image: url("./images/appPlayerBackground.png");
    width: 800px;
    height: 600px;

}
.playerBorder {

    width: 360px;
    height: 480px;
    background-color: red;
    position: absolute;
}

.playerBorder nav {
    background: rgba(42, 34, 77, 0.6);
    width: 100%;
    position: absolute;
    z-index: 2;
    height: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 30px 30px 0 0;
}

.playerMain {
    position: relative;
    background-image: -webkit-linear-gradient(rgba(84, 66, 130, 0.26), rgba(84, 66, 130, 0.26)), url(https://macbem.me/brainhub/album-cover.png);
    background-image: linear-gradient(rgba(84, 66, 130, 0.26), rgba(84, 66, 130, 0.26)), url(https://macbem.me/brainhub/album-cover.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 360px;
    width: 100%;
    border-radius: 30px 30px 0 0;
}

.playerMain .nowPlaying {
    position: absolute;
    width: 100%;
    background: rgba(42, 34, 77, 0.6);
    padding: 16px 0;
    bottom: 0;
    margin: 0;
    text-align: center;
    color: #fff;
}

.playerMain .nowPlaying h1 {
    font-size: 18px;
    line-height: 16px;
    margin-bottom: 6px;
    font-weight: 700;
}
.playerMain .nowPlaying h2 {
    font-size: 14px;
    font-weight: 500;
}


